DATABASE_URI=postgresql://...
PORT=8080

CAPTCHA_ENABLED=false
CAPTCHA_KEY=
CAPTCHA_TOKEN=

SMTP_ENABLED=false
SMTP_HOST=smtp.example.com
SMTP_USERNAME=username
SMTP_PASSWORD=password

REDIS_URI=redis://username:password@127.0.0.1:6380/4?allowUsernameInURI=true