DATABASE_TYPE=mongo
DATABASE_URI=
PORT=8080
CAPTCHA_KEY=
CAPTCHA_TOKEN=
SMTP_URI=smtps://username:password@smtp.example.com/?pool=true
REDIS_URI=redis://username:password@127.0.0.1:6380/4?allowUsernameInURI=true